* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    margin: 0;
    overflow-y: scroll;
}

main {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    align-items: center;
    background-color: rgb(0, 0, 0);
    height: 15vh;
    padding: 0 5vw;
}

.dropdown {
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
}

.dropdown button {
    font-size: 20px;
    font-weight: bold;
    background: transparent;
    color: #ffffff;
    cursor: pointer;
    border: none;
    padding: 0.5em 1em;
    border-radius: 4px;
}

.dropdown button .arrow {
    margin-left: 0.3em;
    /* Espacio entre el texto y la flecha */
    font-size: 0.8em;
    /* Tamaño de la flecha */
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border: 1px solid #000000;

}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #fba4a4;
    transform: scale(1.1); 
    transition: transform 0.2s;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Barra de búsqueda */
#search-form {
    display: flex;
    align-items: center;
    margin-left: 5vw;
}

#search-bar {
    padding: 0.5em;
    font-size: 1em;
    color: aliceblue;
    background-color: black;
    border: 1px solid #ccc;
    border-radius: 4px;
}
/*LOGIN*/
.login-button {
    display: inline-block;
    padding: 10px 15px;
    margin-left: 50vw; /* Espacio entre el buscador y el botón */
    background-color: transparent; /* Color de fondo */
    color: white; /* Color del texto */
    text-decoration: none; /* Sin subrayado */
    border-radius: 5px; /* Bordes redondeados */
}

.login-button:hover {
    background-color: #6f7378; /* Color de fondo al pasar el mouse */
}
/* Sección de navegación */
nav {
    background-color: rgb(162, 225, 240);
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw;

}
/* Dropdown */
.dropdown1,
.dropdown2,
.dropdown3,
.dropdown4 {
    position: relative;
    display: inline-block;
    align-items: center;
    text-align: center;
    margin-left: 2vw;
    margin-right: 5vw;
}

.dropdown1 button,
.dropdown2 button,
.dropdown3 button,
.dropdown4 button {
    font-size: 15px;
    font-weight: bold;
    background: transparent;
    color: #000000;
    cursor: pointer;
    border: black;
    padding: 10px;
    border-radius: 4px;
    margin-top: 1.5vh;
}

.dropdown1 button .arrow,
.dropdown2 button .arrow,
.dropdown3 button .arrow,
.dropdown4 button .arrow {
    margin-left: 0.3em;
    font-size: 0.8em;
}

.dropdown1-content,
.dropdown2-content,
.dropdown3-content,
.dropdown4-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border: 1px solid #000000;
}

.dropdown1-content a,
.dropdown2-content a,
.dropdown3-content a,
.dropdown4-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown1-content a:hover,
.dropdown2-content a:hover,
.dropdown3-content a:hover,
.dropdown4-content a:hover {
    background-color: #becef0;
    transform: scale(1.1);
    transition: transform 0.2s;
}

.dropdown1:hover .dropdown1-content,
.dropdown2:hover .dropdown2-content,
.dropdown3:hover .dropdown3-content,
.dropdown4:hover .dropdown4-content {
    display: block;
}

section {
    padding: 20px;
    margin: 10px;
}
h3{
    margin-top: 4vh;
    margin-left: 40vw;
    font-size: 3em;
    text-decoration: underline;
}
.image-tierra-container {
    display: flex; 
    align-items: center; 
}
.image-tierra-container p {
    padding-left: 10px;
    font-size: 30px;
    margin-left: 3vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.image-tierra-container img {
    width: 55%; 
    height: auto;
    content: 0;
    margin-left: 5vw;
}
.image-tierra-container img:hover {
    transform: scale(1.1); /* Aumenta el tamaño de la imagen */
    transition: transform 0.3s; /* Suaviza la transición */
}

.flex-container {
    display: flex;
    justify-content: space-between; 
    margin-top: 40px; 
}

.flex-item {
    flex: 1; 
    margin: 0 10px; 
    padding: 15px;
    background-color: #6fe452; 
    text-align: center; 
    font-size: 1.5em;
}

.flex-container1 {
    display: flex;
    justify-content: space-between;
    margin-top: 20px; 
}

.flex-item1 {
    flex: 1; 
    margin: 0 10px; 
    padding: 20px; 
    background-color: #a5eea5;
    text-align: center;
    font-size: 1.2em;
}
.flex-item1:hover{
    transform: scale(1.1); 
    transition: transform 0.2s;
}
.planet-images-container img {
    width: 130px; /* Cambia el valor según lo que necesites */
    height: auto;
    margin-left: 1vw;
    margin-top: 2vh; /* Mantiene la proporción de la imagen */
}

.planet-images h3{
    font-size: 50px;
    text-align: center;
    margin-left: 0; /* Elimina el margen izquierdo */
    margin-right: 0; /* Elimina el margen derecho si es necesario */
    padding: 0; 
}

/* Media Query para pantallas pequeñas (móviles y tabletas) */
@media (max-width: 768px) {
    header {
        height: 20vh;
        padding: 0 2vw;
    }

    #search-bar {
        font-size: 3vw;
    }
    .dropdown1 button,
    .dropdown2 button,
    .dropdown3 button,
    .dropdown4 button {
        font-size: 14px;
        padding: 5px;
    }
    .dropdown-content a,
    .dropdown1-content a,
    .dropdown2-content a,
    .dropdown3-content a,
    .dropdown4-content a {
        font-size: 12px; 
        padding: 8px 10px; 
    }
    .login-button {
        margin-left: 0;
        margin-top: 1em;
        width: 100%;
        text-align: center;
    }

    .image-jupiter-container img {
        width: 60%;
        margin-left: 5vw;
    }

    .image-jupiter-container p {
        font-size: 20px;
        margin-left: 2vw;
    }

    .flex-container,
    .flex-container1 {
        flex-direction: column;
        width: 100%;
    }

    .flex-item,
    .flex-item1 {
        margin: 10px 0;
        padding: 12px;
    }

    .planet-images-container img {
        width: 100px;
    }

    .planet-images h3 {
        font-size: 30px;
    }
}

/* Media Query para pantallas extra pequeñas */
@media (max-width: 480px) {
    header {
        height: 20vh;
        padding: 0 2vw;
    }

    .dropdown button,
    .dropdown1 button,
    .dropdown2 button,
    .dropdown3 button,
    .dropdown4 button {
        font-size: 2vw;
        padding: 0.8em;
    }
    .dropdown-content a,
    .dropdown1-content a,
    .dropdown2-content a,
    .dropdown3-content a,
    .dropdown4-content a {
        font-size: 12px; 
        padding: 8px 8px; 
    }

    #search-bar {
        font-size: 3vw;
    }

    .dropdown-content,
    .dropdown1-content,
    .dropdown2-content,
    .dropdown3-content,
    .dropdown4-content {
        min-width: 120px; /* Ajusta el ancho mínimo a un tamaño más pequeño */
    }

    .login-button {
        margin-left: 0;
        margin-top: 1em;
        width: 100%;
        text-align: center;
    }
    .video-container {
        height: 100%; 
        display: flex; 
        justify-content: center;
        align-items: center; 
    }

    .video-container video {
        width: 100%; 
        height: auto; 
    }

    .image-sol-container img {
        width: 50%;
        margin-left: 5vw;
    }

    .overlay-text {
        font-size: 20px;
        top: 30%;
        left: 15%;
    }

    section {
        padding: 5px;
    }

    table {
        font-size: 12px;
    }

    h3{
        font-size: 30px;
        text-align: center;
        margin-left: 0; 
        margin-right:5vw; 
        padding: 0;
    }
    .image-tierra-container p{
        font-size: 15px;
    }
}

