/* Reseteo de márgenes y rellenos para todos los elementos */
* {
    margin: 0;
    padding: 0;
}

/* Estilos para el cuerpo de la página */
body {
    position: relative;
    margin: 0;
    overflow-y: scroll; /* Permite el desplazamiento vertical */
}

/* Estilos para el contenedor principal */
main {
    display: flex;
    flex-direction: column;
    width: 100%; 
    overflow-x: hidden; /* Evita el desbordamiento horizontal */
}

/* Características del contenedor del video */
.video-container {
    height: 100vh; /* Ocupa toda la altura de la ventana */
    overflow: hidden;
}

/* Estilos para el encabezado */
header {
    display: flex;
    align-items: center;
    background-color: rgb(0, 0, 0);
    height: 15vh; /* Altura del 15% de la ventana */
    padding: 0 5vw;
}

/* Estilos para los menús desplegables */
.dropdown {
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
}

.dropdown button {
    font-size: 20px;
    font-weight: bold;
    background: transparent;
    color: #ffffff;
    cursor: pointer;
    border: none;
    padding: 0.5em 1em;
    border-radius: 4px;
}

.dropdown button .arrow {
    margin-left: 0.3em;
    font-size: 0.8em;
}

/* Contenido de los menús desplegables */
.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border: 1px solid #000000;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #fba4a4;
    transform: scale(1.1); 
    transition: transform 0.2s;
}

/* Mostrar el contenido del menú al pasar el cursor */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Barra de búsqueda */
#search-form {
    display: flex;
    align-items: center;
    margin-left: 5vw;
}

#search-bar {
    padding: 0.5em;
    font-size: 1em;
    color: aliceblue;
    background-color: black;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Botón de login */
.login-button {
    display: inline-block;
    padding: 10px 15px;
    margin-left: 50vw; 
    background-color: transparent; 
    color: white; 
    text-decoration: none; 
    border-radius: 5px; 
}

.login-button:hover {
    background-color: #6f7378; 
}

/* Sección de navegación */
nav {
    background-color: rgb(162, 225, 240);
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw;
}

/* Menús desplegables adicionales */
.dropdown1,
.dropdown2,
.dropdown3,
.dropdown4 {
    position: relative;
    display: inline-block;
    align-items: center;
    text-align: center;
    margin-left: 2vw;
    margin-right: 5vw;
}

.dropdown1 button,
.dropdown2 button,
.dropdown3 button,
.dropdown4 button {
    font-size: 15px;
    font-weight: bold;
    background: transparent;
    color: #000000;
    cursor: pointer;
    border: black;
    padding: 10px;
    border-radius: 4px;
    margin-top: 1.5vh;
}

.dropdown1 button .arrow,
.dropdown2 button .arrow,
.dropdown3 button .arrow,
.dropdown4 button .arrow {
    margin-left: 0.3em;
    font-size: 0.8em;
}

/* Contenido de los menús desplegables adicionales */
.dropdown1-content,
.dropdown2-content,
.dropdown3-content,
.dropdown4-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border: 1px solid #000000;
}

.dropdown1-content a,
.dropdown2-content a,
.dropdown3-content a,
.dropdown4-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown1-content a:hover,
.dropdown2-content a:hover,
.dropdown3-content a:hover,
.dropdown4-content a:hover {
    background-color: #becef0;
    transform: scale(1.1);
    transition: transform 0.2s;
}

/* Mostrar el contenido del menú al pasar el cursor */
.dropdown1:hover .dropdown1-content,
.dropdown2:hover .dropdown2-content,
.dropdown3:hover .dropdown3-content,
.dropdown4:hover .dropdown4-content {
    display: block;
}

/* Estilos para el contenedor de astronautas */
.astronaut-container {
    display: flex; 
    justify-content: space-around; 
    flex-wrap: wrap; 
    margin-bottom: 20px; 
    margin-top: 5vh;
}

.astronaut-container a {
    text-align: center; 
    text-decoration: none; 
    color: #000; 
    transition: transform 0.3s; 
}

.astronaut-container a:hover {
    transform: scale(1.05); 
}

.astronaut-container img {
    width: 200px; 
    height: auto; 
    border-radius: 10px; 
}

.astronaut4 img {
    width: 120px;
}

.astronaut3 img {
    width: 190px;
}

/* Información adicional oculta hasta que se activa */
.info {
    display: none;
    margin-top: 20px; 
    padding: 15px; 
    background-color: #abddff; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
}

.info p {
    margin-top: 4vh;
}

/* Mostrar información adicional al apuntar al ID */
.info:target {
    display: block; 
}

/* Estilos para la sección de entrenamiento */
.training {
    margin-top: 30px; 
    padding: 15px; 
    background-color: #e9ecef; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
}

.training h2 {
    color: #000000; 
}

.training p {
    color: #000000;
    margin-top: 3vh; 
}

.training ul {
    list-style-type: disc; 
    margin-left: 20px; 
    margin-top: 1vh;
    margin-bottom: 2vh;
}

.training iframe {
    margin-left: 25vw;
}

/* Estilos para la sección de misiones */
.misiones {
    margin-top: 30px; 
    padding: 15px; 
    background-color: #e9ecef; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
}

.misiones h2 {
    color: #000000; 
}

.misiones p {
    color: #000000;
    margin-top: 3vh; 
}

.misiones ul {
    list-style-type: disc; 
    margin-left: 20px; 
    margin-top: 1vw;
}

.misiones iframe {
    margin-top: 3vh;
    margin-left: 25vw;
}

/* Media Query para pantallas pequeñas */
@media (max-width: 768px) {
    header {
        height: 20vh;
        padding: 0 2vw;
    }

    .dropdown button,
    .dropdown1 button,
    .dropdown2 button,
    .dropdown3 button,
    .dropdown4 button {
        font-size: 2vw;
        /* Ajustar tamaño de texto */
        padding: 0.8em;
    }

    #search-bar {
        font-size: 3vw;
    }
    .dropdown1 button,
    .dropdown2 button,
    .dropdown3 button,
    .dropdown4 button {
        font-size: 14px;
        padding: 5px;
    }
    .dropdown-content a,
    .dropdown1-content a,
    .dropdown2-content a,
    .dropdown3-content a,
    .dropdown4-content a {
        font-size: 12px; 
        padding: 8px 10px; 
    }
    .login-button {
        margin-left: 0;
        margin-top: 1em;
        width: 100%;
        text-align: center;
    }
    .training p {
        font-size: 1.5em;
     }
    .misiones p {
        font-size: 1.5em;
     }
    .training ul {
        font-size: 1.5em;
     }
    .misiones ul {
        font-size: 1.5em;
     }
    .training iframe {
        margin-left: 15vw;
    }
    .misiones iframe {
        margin-top: 3vh;
        margin-left: 15vw;
    }
}

/* Media Query para pantallas extra pequeñas */
@media (max-width: 480px) {
    header {
        height: 20vh;
        padding: 0 2vw;
    }

    .dropdown button,
    .dropdown1 button,
    .dropdown2 button,
    .dropdown3 button,
    .dropdown4 button {
        font-size: 2vw;
        padding: 0.8em;
    }
    .dropdown-content a,
    .dropdown1-content a,
    .dropdown2-content a,
    .dropdown3-content a,
    .dropdown4-content a {
        font-size: 12px; 
        padding: 8px 8px; 
    }

    #search-bar {
        font-size: 3vw;
    }

    .dropdown-content,
    .dropdown1-content,
    .dropdown2-content,
    .dropdown3-content,
    .dropdown4-content {
        min-width: 120px; /* Ajusta el ancho mínimo a un tamaño más pequeño */
    }

    .login-button {
        margin-left: 0;
        margin-top: 1em;
        width: 100%;
        text-align: center;
    }
    .training p {
        font-size: 1.5em;
     }
    .misiones p {
        font-size: 1.5em;
     }  
    .training ul {
        font-size: 1.5em;
     }
    .misiones ul {
        font-size: 1.5em;
     }
    .training iframe {
        margin-left: 0;
        width:100%;
        height:auto;
    }
    .misiones iframe {
        margin-left: 0;
        width:100%;
        height:auto;
    }
    
}