* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    margin: 0;
    overflow-y: scroll;
}

main {
    display: flex;
    flex-direction: column;
}
/* Características del container del video */
.video-container {
    height: 100vh;
    overflow: hidden;
}

header {
    display: flex;
    align-items: center;
    background-color: rgb(0, 0, 0);
    height: 15vh;
    padding: 0 5vw;
}
/* Características de los dropdowns */
.dropdown {
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
}

.dropdown button {
    font-size: 20px;
    font-weight: bold;
    background: transparent;
    color: #ffffff;
    cursor: pointer;
    border: none;
    padding: 0.5em 1em;
    border-radius: 4px;
}

.dropdown button .arrow {
    margin-left: 0.3em;
    font-size: 0.8em;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border: 1px solid #000000;

}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #fba4a4;
    transform: scale(1.1); 
    transition: transform 0.2s;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Barra de búsqueda */
#search-form {
    display: flex;
    align-items: center;
    margin-left: 5vw;
}

#search-bar {
    padding: 0.5em;
    font-size: 1em;
    color: aliceblue;
    background-color: black;
    border: 1px solid #ccc;
    border-radius: 4px;
}
/*LOGIN*/
.login-button {
    display: inline-block;
    padding: 10px 15px;
    margin-left: 50vw; 
    background-color: transparent;
    color: white; 
    text-decoration: none; 
    border-radius: 5px;
}

.login-button:hover {
    background-color: #6f7378; /* Color de fondo al pasar el mouse */
}
/* Sección de navegación */
nav {
    background-color: rgb(162, 225, 240);
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw;
}
/* Dropdown */
.dropdown1,
.dropdown2,
.dropdown3,
.dropdown4 {
    position: relative;
    display: inline-block;
    align-items: center;
    text-align: center;
    margin-left: 2vw;
    margin-right: 5vw;
}

.dropdown1 button,
.dropdown2 button,
.dropdown3 button,
.dropdown4 button {
    font-size: 15px;
    font-weight: bold;
    background: transparent;
    color: #000000;
    cursor: pointer;
    border: black;
    padding: 10px;
    border-radius: 4px;
    margin-top: 1.5vh;
}

.dropdown1 button .arrow,
.dropdown2 button .arrow,
.dropdown3 button .arrow,
.dropdown4 button .arrow {
    margin-left: 0.3em;
    font-size: 0.8em;
}

.dropdown1-content,
.dropdown2-content,
.dropdown3-content,
.dropdown4-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border: 1px solid #000000;
}

.dropdown1-content a,
.dropdown2-content a,
.dropdown3-content a,
.dropdown4-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown1-content a:hover,
.dropdown2-content a:hover,
.dropdown3-content a:hover,
.dropdown4-content a:hover {
    background-color: #becef0;
    transform: scale(1.1);
    transition: transform 0.2s;
}

.dropdown1:hover .dropdown1-content,
.dropdown2:hover .dropdown2-content,
.dropdown3:hover .dropdown3-content,
.dropdown4:hover .dropdown4-content {
    display: block;
}

.footer {
    background-color: black;
    height: 50px; 
    width: 100%;
    margin-top: 5%;
}

main {
    padding: 40px;
    background-color: #f9f9f9; 
}

.productos {
    display: flex;
    justify-content: space-between; 
    margin-bottom: 20px; 
}
.producto1 {
    background-color: #fff; 
    border: 1px solid #ddd;
    border-radius: 5px; 
    padding: 15px; 
    text-align: center;
    width: 30%; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    transition: transform 0.2s; 
}

.producto1:hover {
    transform: scale(1.05); 
}
/*Características de las imagenes de los productos*/
.producto1 img {
    max-width: 80%; 
    height: auto; 
    border-radius: 5px; 
}

.producto1 h2 {
    font-size: 1.5em; 
}

.producto2 {
    background-color: #fff; 
    border: 1px solid #ddd;
    border-radius: 5px; 
    padding: 15px; 
    text-align: center; 
    width: 30%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    transition: transform 0.2s; 
}

.producto2:hover {
    transform: scale(1.05); 
}

.producto2 img {
    max-width: 60%; 
    height: auto; 
    border-radius: 5px; 
}

.producto2 h2 {
    font-size: 1.5em; 
}

.producto3 {
    background-color: #fff; 
    border: 1px solid #ddd; 
    border-radius: 5px; 
    padding: 15px; 
    text-align: center; 
    width: 30%; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    transition: transform 0.2s;
}

.producto3:hover {
    transform: scale(1.05); 
}

.producto3 img {
    max-width: 80%; 
    height: auto; 
    border-radius: 5px; 
}

.producto3 h2 {
    font-size: 1.5em; 
}
.producto4 {
    background-color: #fff; 
    border: 1px solid #ddd;
    border-radius: 5px; 
    padding: 15px; 
    text-align: center;
    width: 30%; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    transition: transform 0.2s; 
}

.producto4:hover {
    transform: scale(1.05); 
}

.producto4 img {
    max-width: 80%; 
    height: auto; 
    border-radius: 5px; 
}

.producto4 h2 {
    font-size: 1.5em; 
}

.producto5 {
    background-color: #fff; 
    border: 1px solid #ddd;
    border-radius: 5px; 
    padding: 15px; 
    text-align: center; 
    width: 30%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    transition: transform 0.2s; 
}

.producto5:hover {
    transform: scale(1.05); 
}

.producto5 img {
    max-width: 70%; 
    height: auto; 
    border-radius: 5px; 
}

.producto5 h2 {
    font-size: 1.5em; 
}

.producto6 {
    background-color: #fff; 
    border: 1px solid #ddd; 
    border-radius: 5px; 
    padding: 15px; 
    text-align: center; 
    width: 30%; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    transition: transform 0.2s;
}

.producto6:hover {
    transform: scale(1.05); 
}

.producto6 img {
    max-width: 90%; 
    height: auto; 
    border-radius: 5px; 
}

.producto6 h2 {
    font-size: 1.5em; 
}
